  @import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

  .App {
    text-align: center;
  }

  body, button {
    font-family: 'Fresca', sans-serif;
  }

  .Hompage-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .Hompage-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000;
  }

  .App-link {
    color: #61dafb;
  }

  .Hompage .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .Hompage .container .left img {
    width: 100%;
    max-width: 200px;
  }

  .Hompage .container .right p {
    width: 100%;
    max-width: 200px;
    text-align: left;
    padding-left: 50px;
  }

  .Hompage .container .right button {
    padding: 20px;
    background-color: #49BA37;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    border-color: transparent;
  }

   button:hover {
    cursor: pointer;
  }

  .AddActivity {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }

  .AddActivity textarea {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .AddActivity button{
    padding: 20px;
    background-color: #49BA37;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    border-color: transparent;
  }

  .AddActivity button,
  .AddActivity input,
  .AddActivity textarea,
  .AddActivity h2{
    display: block;
  }


